.Results {
  margin: 15px;
  padding: 15px;
}

.container {
  display: flex;
  align-items: center;
  margin: 10px;
}

#searchImage {
  margin-right: 8px;
  margin-left: 2px;
}

#searchBar {
  border-radius: 50px;
}

#buttonContainer {
  display: flex;
  margin: 32px;
  justify-content: center;
}

#lucky {
  font-weight: lighter;
}

#wrapper {
  margin-top: 160px;
  min-height: calc(100vh - 210px);
}

#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#orange {
  color: #f4a18a;
}

.primary-color {
  color: #de5833;
}

#logoImage {
  margin-left: 40px;
}
