.Results {
  margin: 15px;
  padding: 15px;
}

.container {
  display: flex;
  align-items: center;
  margin: 10px;
}

#searchImage {
  margin-right: 8px;
  margin-left: 2px;
}

#searchBar {
  border-radius: 50px;
}
